<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each orders}}
    <h1>CHI TIET DON HÀNG</h1>
    <h2>ID</h2>
    <p>{{this._id}}</p>

    <h2>San pham</h2>
    {{#each products}}
       {{#unless @first}}</br> {{/unless}}
    {{this.tittle}}
     {{/each}}

    <h2>So luong</h2>
     {{#each products}}
    {{#unless @first}}</br> {{/unless}}
    {{this.quantity}}
    {{/each}}

    <h2>Tong tien</h2>                          
    <p>{{this.payment}}</p>
     <h2>Nguoi ban</h2>
    <p>{{this.sellerName}}</p>
     <h2>Nguoi mua</h2>
    <p>{{this.name}}</p>
    <h2>Trang thai</h2>
   <p>{{this.status}}</p>

   <a href="/admin/stored/orders/all/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
   <a href="" class="btn btn-primary" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xóa</a>

    {{/each}}
</body>

  <div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa đơn hàng này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function (){
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var deleteForm = document.forms['delete-course-form']

        //when dialog confirm clicked
         $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        courseId = button.data('id')
    });

    btnDeleteCourse.onclick = function(){
        deleteForm.action = '/admin/stored/orders/all/' + courseId + '/forceNow?_method=DELETE';
        deleteForm.submit();

    }
});
</script>




    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</html>