
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
      <!-- Bootstrap CSS -->
    
</head>
<body>
    
    <div class="container-fluid app-content">
        <div class="row app-content0">
            <div class="col-2 col1 d-flex">
                  <nav class="category1">
                    <div class="category__info">
                        <div class="info-image">
                            <img src={{seller.avatar}} alt="avatar">
                        </div>
                        
                        <div class="info-name">
                                {{seller.username}}
                        </div>
                           
                       
                    </div>
                    <h3 class="category__heading">
                        Tài khoản của tôi
                    </h3>
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="/seller/info" class="category-item__link">Hồ sơ</a>
                        </li>
                        <li class="category-item">
                            <a href="/seller/info" class="category-item__link">Đổi mật khẩu</a>
                        </li>
                    

                    </ul>
                    <h3 class="category__heading">
                        Quản lý sản phẩm
                    </h3>
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="/me/stored/books" class="category-item__link">Tất cả sản phẩm</a>
                        </li>
                        <li class="category-item">
                            <a href="/books/create" class="category-item__link">Thêm sản phẩm</a>
                        </li>

                    </ul>
                    <h3 class="category__heading">
                        Quản lý đơn hàng
                    </h3>
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="/me/stored/orders/all" class="category-item__link">Tất cả đơn hàng</a>
                        </li>
                        <li class="category-item">
                            <a href="/me/stored/orders/canceled" class="category-item__link">Đơn huỷ</a>
                        </li>
                        <li class="category-item">
                            <a href="/me/stored/orders/return" class="category-item__link">Trả hàng/Hoàn tiền</a>
                        </li>

                    </ul>

                     <h3 class="category__heading">
                        Thanh toán
                    </h3>
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="/me/payment/unpaid" class="category-item__link">Sẽ thanh toán</a>
                        </li>
                        <li class="category-item">
                            <a href="/me/payment/paid" class="category-item__link">Đã thanh toán</a>
                        </li>
                        
                    </ul>
                </nav> 

            </div>
            <div class="col">
                <div class="container-fluid">
                    <div class="app-content-1">
                        <div class="d-flex-col profile-box1 ">
                            <div class="profile-label-title">
                                Hồ Sơ Của Tôi
                            </div>
                            <div class="profile-label">
                                Quản lí thông tin tài khoản để bảo mật tài khoản
                            </div>
                        </div>
                        <div class="profile-box2">
                            <form method="POST" enctype = "multipart/form-data" action="/seller/{{seller._id}}?_method=PUT">
                              
                                <div class="form-group row">
                                  <label for="inputPassword3" class="col-sm-2 col-form-label">Địa chỉ</label>
                                  <div class="col-sm-7">
                                    <input type="text" class="form-control" id="address" name="address" value = {{seller.address}}>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Tên shop</label>
                                    <div class="col-sm-7">
                                      <input type="text" class="form-control" id="shopname" name="shopname" value = {{seller.shopname}}>
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Số điện thoại</label>
                                    <div class="col-sm-7">
                                      <input type="number" class="form-control" id="phone" name="phone" value = {{seller.phone}}>
                                    </div>
                                  </div>
                                <fieldset class="form-group">
                                  <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Giới tính</legend>
                                    <div class="col-sm-7">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                          Nam
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                          Nữ
                                        </label>
                                      </div>
                                      <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                        <label class="form-check-label" for="gridRadios3">
                                          Khác
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </fieldset>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                                    <div class="col-sm-7">
                                      <input type="email" class="form-control form-control-lg" id="username" name="username" value = {{seller.username}}>
                                    </div>
                                </div>
                                  
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-lg">Mật khẩu hiện tại</label>
                                    <div class="col-sm-7">
                                      <input type="password" class="form-control form-control-lg" id="password" name="password" value = {{seller.password}}>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-lg">Mật khẩu mới</label>
                                    <div class="col-sm-7">
                                      <input type="password" class="form-control form-control-lg" id="inputPasswordl3" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-lg">Ảnh đại diện</label>
                                    <div class="col-sm-7">
                                      <input type="file" class="form-control-file" id="avatar" name = "avatar">
                                    </div>
                                </div>
                                  

                                <div class="form-group row  d-flex justify-content-center">
                                  <div class="col-sm-7  d-flex justify-content-center">
                                    <button type="submit" class="btn1 btn--primary">Lưu</button>
                                  </div>
                                </div>
                              </form>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>





    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>