<form name="container-form" class="mt-4" method="POST" action="/me/stored/handle-form-actions">
  <h3>QUẢN LÝ ĐƠN HÀNG SELLER</h3>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/order/show">Tất cả <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/order/notapproved">Chờ xác nhận</a>
      <a class="nav-item nav-link" href="/order/toship">Chờ lấy hàng</a>
      <a class="nav-item nav-link active" href="/order/shipping">Đang giao</a>
      <a class="nav-item nav-link" href="/order/completed">Đã giao</a>
      <a class="nav-item nav-link" href="/order/canceled">Đã hủy</a>
    </div>
  </div>
</nav>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID đơn hàng</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col" colspan="1">Số lượng</th>
      <th scope="col" colspan="1">Tổng tiền</th>
      <th scope="col" colspan="1">Thao tác</th>
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
    <tr>
  
      <th scope="row">{{sum @index 1}}</th>
       <td>{{this._id}}</td>
      <td>{{this.productname}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.totalprice}}</td>
     <td>
       <a href="orders/{{this._id}}/shipment-info" class="btn btn-primary">Xem chi tiết</a>
       {{!-- <a href="/me/stored/orders/{{this._id}}/completed" class="btn btn-primary">Đã giao</a> --}}
       {{!-- <a href="" class="btn btn-primary" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Hủy bỏ</a> --}}
     </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center"> 
      Bạn không có đơn hàng nào đang giao.
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</form>


<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hủy đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn hủy đơn hàng này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>



<form name="delete-course-form" method="GET"></form>

<script>
    document.addEventListener('DOMContentLoaded', function (){
        var orderId;
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var deleteForm = document.forms['delete-course-form']
         /*
        var checkboxAll = $('#checkbox-all')
        var orderItemCheckbox = $('input[name="orderIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var containerForm = document.forms['container-form']
        */

        //when dialog confirm clicked
         $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        orderId = button.data('id')
    });

    btnDeleteCourse.onclick = function(){
        deleteForm.action = '/me/stored/orders/' + orderId + '/cancel';
        deleteForm.submit();
    };


     /*
    //Checkbox all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked');
       orderItemCheckbox.prop('checked', isCheckedAll);
       renderCheckAllSubmitBn();
    });

    //Order item checkbox changed
    orderItemCheckbox.change(function(){
      var isCheckedAll = orderItemCheckbox.length === $('input[name="orderIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll );
       renderCheckAllSubmitBn();
    })


    //Re-render button submit all
    function renderCheckAllSubmitBn(){
      var checkCount = $('input[name="orderIds[]"]:checked').length;
      if (checkCount > 0)
      {
        checkAllSubmitBtn.attr('disabled', false);
      }
      else{
        checkAllSubmitBtn.attr('disabled', true);
      }
    } 
    */
});
</script>



