{{#if success }}
    <div class="alert alert-success" role="alert">
    Cập nhật giỏ hàng thành công!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

  {{ else }}
   {{#if errors }}
       <section class="errors">
        <ul>
          {{#each errors }}
         <div class="alert alert-danger" role="alert">
          {{this.msg}}
          {{this.value}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
         {{/each}}
    </ul>
  </section>
{{/if}}
{{/if}}


<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
   
</head>
<body>

    <form class="app" method="POST" action="/order/handle/create">
        <div class="grid1">
            <div class="container-cart">
                {{!-- <div class="first-box">
                    <div class="first-box-icon">
                        <svg height="12" viewBox="0 0 20 12" width="20" class="shopee-svg-icon _2Ns6ZJ icon-free-shipping"><g fill="none" fill-rule="evenodd" transform=""><rect fill="#00bfa5" fill-rule="evenodd" height="9" rx="1" width="12" x="4"></rect><rect height="8" rx="1" stroke="#00bfa5" width="11" x="4.5" y=".5"></rect><rect fill="#00bfa5" fill-rule="evenodd" height="7" rx="1" width="7" x="13" y="2"></rect><rect height="6" rx="1" stroke="#00bfa5" width="6" x="13.5" y="2.5"></rect><circle cx="8" cy="10" fill="#00bfa5" r="2"></circle><circle cx="15" cy="10" fill="#00bfa5" r="2"></circle><path d="m6.7082481 6.7999878h-.7082481v-4.2275391h2.8488017v.5976563h-2.1405536v1.2978515h1.9603297v.5800782h-1.9603297zm2.6762505 0v-3.1904297h.6544972v.4892578h.0505892c.0980164-.3134765.4774351-.5419922.9264138-.5419922.0980165 0 .2276512.0087891.3003731.0263672v.6210938c-.053751-.0175782-.2624312-.038086-.3762568-.038086-.5122152 0-.8758247.3017578-.8758247.75v1.8837891zm3.608988-2.7158203c-.5027297 0-.8536919.328125-.8916338.8261719h1.7390022c-.0158092-.5009766-.3446386-.8261719-.8473684-.8261719zm.8442065 1.8544922h.6544972c-.1549293.571289-.7050863.9228515-1.49238.9228515-.9864885 0-1.5903965-.6269531-1.5903965-1.6464843 0-1.0195313.6165553-1.6669922 1.5872347-1.6669922.9580321 0 1.5366455.6064453 1.5366455 1.6083984v.2197266h-2.4314412v.0351562c.0221328.5595703.373095.9140625.9169284.9140625.4110369 0 .6924391-.1376953.8189119-.3867187zm2.6224996-1.8544922c-.5027297 0-.853692.328125-.8916339.8261719h1.7390022c-.0158091-.5009766-.3446386-.8261719-.8473683-.8261719zm.8442064 1.8544922h.6544972c-.1549293.571289-.7050863.9228515-1.49238.9228515-.9864885 0-1.5903965-.6269531-1.5903965-1.6464843 0-1.0195313.6165553-1.6669922 1.5872347-1.6669922.9580321 0 1.5366455.6064453 1.5366455 1.6083984v.2197266h-2.4314412v.0351562c.0221328.5595703.373095.9140625.9169284.9140625.4110369 0 .6924391-.1376953.8189119-.3867187z" fill="#fff"></path><path d="m .5 8.5h3.5v1h-3.5z" fill="#00bfa5"></path><path d="m0 10.15674h3.5v1h-3.5z" fill="#00bfa5"></path><circle cx="8" cy="10" fill="#047565" r="1"></circle><circle cx="15" cy="10" fill="#047565" r="1"></circle></g></svg>
                    </div>
                    <div class="first-box-text">Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</div>
                </div>
                 --}}
                    
                <div class="cart-page-product-header">
                    <div class="cart-item__cell-checkbox">
                        <input type="checkbox" value="" id="checkbox-all">
                    </div>
                    <div class="cart-page-product-header__product">
                        Sản Phẩm
                    </div>
                    <div class="cart-page-product-header__unit-price">
                        Đơn Giá
                    </div>
                    <div class="cart-page-product-header__quantity">
                        Số Lượng
                    </div>
                    <div class="cart-page-product-header__total-price">
                        Số Tiền
                    </div>
                    <div class="cart-page-product-header__action">Thao Tác</div>

                </div>

                {{#each carts}}
                <div class="cart-page-product-section">
                    <div class="cart-page-product-section__header">
                        {{!-- <div class="cart-page-product-section__header-checkbox"><input type="checkbox"></div> --}}
                        <div class="cart-page-product-section__header-icon" style="background-color: var(--primary-color); width: 24px; height: 16px;">
                            <svg viewBox="0 0 24 11"><g fill="#fff" fill-rule="evenodd"><path d="M19.615 7.143V1.805a.805.805 0 0 0-1.611 0v5.377H18c0 1.438.634 2.36 1.902 2.77V9.95c.09.032.19.05.293.05.444 0 .805-.334.805-.746a.748.748 0 0 0-.498-.69v-.002c-.59-.22-.885-.694-.885-1.42h-.002zm3 0V1.805a.805.805 0 0 0-1.611 0v5.377H21c0 1.438.634 2.36 1.902 2.77V9.95c.09.032.19.05.293.05.444 0 .805-.334.805-.746a.748.748 0 0 0-.498-.69v-.002c-.59-.22-.885-.694-.885-1.42h-.002zm-7.491-2.985c.01-.366.37-.726.813-.726.45 0 .814.37.814.742v5.058c0 .37-.364.73-.813.73-.395 0-.725-.278-.798-.598a3.166 3.166 0 0 1-1.964.68c-1.77 0-3.268-1.456-3.268-3.254 0-1.797 1.497-3.328 3.268-3.328a3.1 3.1 0 0 1 1.948.696zm-.146 2.594a1.8 1.8 0 1 0-3.6 0 1.8 1.8 0 1 0 3.6 0z"></path><path d="M.078 1.563A.733.733 0 0 1 .565.89c.423-.15.832.16 1.008.52.512 1.056 1.57 1.88 2.99 1.9s2.158-.85 2.71-1.882c.19-.356.626-.74 1.13-.537.342.138.477.4.472.65a.68.68 0 0 1 .004.08v7.63a.75.75 0 0 1-1.5 0V3.67c-.763.72-1.677 1.18-2.842 1.16a4.856 4.856 0 0 1-2.965-1.096V9.25a.75.75 0 0 1-1.5 0V1.648c0-.03.002-.057.005-.085z" fill-rule="nonzero"></path></g></svg>
                        </div>
                        <!-- Lấy tên shop -->
                        <div class="cart-page-product-section__header-name">{{this.sellerName}}</div>
                        <div class="cart-page-product-section__header-icon" style="position: relative; top: 5px;">
                            <svg viewBox="0 0 16 16" fill="var(--primary-color)" style="width: 16px; height: 15.5px" class=""><g fill-rule="evenodd"><path d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z"></path></g></svg>
                        </div>
                    </div>
                     
                    <div class="cart-page-product-section__items">
                      
                        <div class="cart-item">
                            
                             {{!-- <div class="cart-item__cell-checkbox"> 
                                {{this.sellerName}}
                            </div> --}}
                           
                            <div class="cart-item-content">
                                <div class="cart-item-checkbox">
                                    <input type="checkbox" name="orderIds[]" value="{{this._id}}">
                                </div>
                                <div class="cart-item-product">
                                    <div class="cart-item-product__img" style="background-image: url(../{{this.productimage}})">
                                        
                                    </div>
                                    <!-- Lấy tên sản phẩm -->
                                    <div class="cart-item-product__name">
                                        {{this.productname}}
                                    </div>
                                </div>
                                <div class="cart-item-price">
                                    <div class="cart-item-price__label">$</div>
                                    <!-- Lấy giá sản phẩm -->
                                    <div class="cart-item-price__text">{{this.price}}</div>
                                </div>
                                <div class="cart-item-quantity">
                                    <form class="quantity__box-button" method="POST" action="/cart/{{this._id}}?_method=PUT">
                                        <!-- Lấy số lượng -->
                                        {{!-- <button type="button" class="quantity__box-button--sub">-</button> --}}
                                        {{!-- <button class="quantity__box-button--label">{{this.quantity}}</button> --}}
                                       {{!--   <form method="POST" action="/cart/{{this._id}}?_method=PUT" class="updateCart"> --}}
                                        <input type="text" class="quantity__box-button--label" id ="quantity" name = "quantity" value={{this.quantity}}  >
                                            
                                       {{!--  </form> --}}
                                        {{!-- <button type="button" class="quantity__box-button--add">+</button> --}}
                                    </form>
                                </div>
                                <div class="cart-item-total-price">
                                    <div class="cart-item-total-price__label">$</div>
                                    <!-- Tính tổng giá tiền -->
                                    <div class="cart-item-total-price__text">{{this.totalprice}}</div>
                                </div>
                               <div class="cart-item-action">
                                    <a href="" class="btn1 btn--primary" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">
                                        Xóa
                                    </a>
                                     <button class="information-button__text btn1 btn--highlight" type="submit" formaction="/cart/{{this._id}}?_method=PUT" method="POST">Cập nhật</button>
                                </div>
                            </div>
                               
                        </div>
                       
                    </div>
                   
                </div>
                {{/each}}
                 <div class="cart-page-product-section__buy">
                        <div class="total-buy-label">Tổng số tiền:</div>
                        <div class="" style="width: 15%;display: flex; align-items: center; padding: 0 20px; color: var(--primary-color); font-size: 2.2rem;; font-weight: 400;">
                            <div class="" style="padding-right: 2px;">
                                $
                            </div>
                            <!-- Tính tổng số tiền xong thay ở đây -->
                                    <div class="buy-total-quantity11" >120</div>  
                           
                        </div>
                        <button class="btn1
                         btn--primary btn-buy" type="submit">Mua Hàng</button>
                    </div>
            </div>
        </div>
       
    </form>
    

    
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm khỏi giỏ hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn--highlight">Xóa bỏ</button>
        <button type="button" class="btn btn--primary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function (){
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var deleteForm = document.forms['delete-course-form']
        var orderId;
        var checkboxAll = $('#checkbox-all')
        var orderItemCheckbox = $('input[name="orderIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var containerForm = document.forms['container-form']
        getTotal();

        //when dialog confirm clicked
         $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        courseId = button.data('id')
    });

    btnDeleteCourse.onclick = function(){
        deleteForm.action = '/cart/' + courseId + '?_method=DELETE';
        deleteForm.submit();

    }

     //Checkbox all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked');
       orderItemCheckbox.prop('checked', isCheckedAll);
       renderCheckAllSubmitBn();
    });

    //Order item checkbox changed
    orderItemCheckbox.change(function(){
      var isCheckedAll = orderItemCheckbox.length === $('input[name="orderIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll );
       renderCheckAllSubmitBn();
    })

    //Re-render button submit all
    function renderCheckAllSubmitBn(){
      var checkCount = $('input[name="orderIds[]"]:checked').length;
      if (checkCount > 0)
      {
        checkAllSubmitBtn.attr('disabled', false);
      }
      else{
        checkAllSubmitBtn.attr('disabled', true);
      }
    } 

});
</script>

<script>
    var $buttonadd = document.querySelector('.quantity__box-button--add');
    var $buttonsub = document.querySelector('.quantity__box-button--sub');
    var $counter = document.querySelector('.quantity__box-button--label');
    var $totalpricee = document.querySelector('.buy-total-quantity11');

    $buttonadd.addEventListener('click', function(){
    $counter.value = parseInt($counter.value) + 1; // `parseInt` converts the `value` from a string to a number
    }, false);

    $buttonsub.addEventListener('click', function(){
        $counter.value = parseInt($counter.value) > 0 ? parseInt($counter.value) - 1 : parseInt($counter.value);
        var qt = $counter.value;
    }, false);


     function getTotal(){

        var sum = 0;
        $(".cart-item-total-price__text").each(function() {   
            sum += Number($(this).text());
        });
        $totalpricee.innerText =  sum; // an add function shouldn't really "alert"
     };

      

   

</script>
   
</body>

</html>


